.ql-editor {
    min-height: 200px;
    overflow-y:  auto;
    max-height: 450px;
    background-color: #FFFF99;

}
.exResult{    
    min-height: 220px;
    overflow: auto;
    border: 1px solid #28a745;
    background-color: white;
}
.exSynomps{    
    min-height: 220px;
    overflow: auto;
    border: 1px solid #28a745;
    background-color: white;
}
.pd5{
    padding: 5px;
}

.hDisplay{
    padding: 0px;
    width: 100%;
    background-color:#Decba4;
}

.container-fluid{
    /* background-color:#e5e177; */
    padding-right:0;
    width:100%;
    padding-left: 0;
}




